svg {
    background-color:black;
}

body {
    width: 960px;
    margin: auto;
}

h1, h2 {
    font-family: Arial, sans-serif;
    text-align: center;
    color: #333;
}

p, div, li {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
}

#switcher {
    text-align: center;
}

.graticule {
}

.graticule.major {
}

.outline {
}

.background {
}

.feature, .feature path {
}

.merged {
}

.mesh {
}