.country {
    fill: slategray;
    stroke: white;
    stroke-width: .5;
}

.equator {
    stroke: blue;
    fill: none;
    stroke-width: 3;
    stroke-opacity: .4;
}

.graticule {
    fill: none;
    stroke: green;
    stroke-width: .5;
}

.parallel-1 {
    fill: white;
}

.parallel-2 {
    fill: goldenrod;
    fill-opacity: .5;
}

.outline {
    fill: none;
    stroke-width: 3;
    stroke: gray;
}

.container {
    position: absolute;
    width: 1300px;
}

.background {
    fill: #cceeff80;
}

#sidebar {
    position: absolute;
    left: 0;
    width: 350px;
}

#map {
    position: absolute;
    left: 350px;
}

ol {
    margin: 0;
    padding: 0px 20px;
}

p:hover {
    font-color: blue;
    cursor: pointer;
}

p.selected, li.selected {
    font-weight: bold;
}

svg {border: solid 1px #aaa;}

.container {
    display: flex;
    gap: 12px;
    align-items: flex-start;
}
#sidebar {
    border: solid 2px #ddd;
    width: 350px;
    max-height: 502px;
    overflow-y: auto;
    padding: 0px 8px;
    box-sizing: border-box;
    font: 13px sans-serif;
}
#sidebar ol {
    cursor: pointer;
}
#sidebar li:hover {
    background: #ddf;
    color: blue;
    font-size: 110%;
}
#map {
    flex: 1 1 auto;
}

#sidebar h2 {
    margin: 8px 0 8px -20px;
    padding-left: 0;
    font-size: 16px;
}