@font-face {
    font-family: 'NK57 Monospace Cd Lt';
    font-style: normal;
    font-weight: 300;
    src: local('NK57 Monospace Cd Lt'), url('https://fonts.cdnfonts.com/s/16188/nk57-monospace-cd-lt.woff') format('woff');