<!DOCTYPE html>
<html lang="en">
<head>
    <title>Comparing the largest natural satellites of the Solar System</title>
    <link rel="stylesheet" href="css/main-1.1.css">
</head>
<body>

<h1>The <span id="titleNumber"></span> of <span id="planetName"></span></h1>
<div id="container" width="500" height="300">
    <svg height="100%" width="100%" id="moons"></svg>
</div>
<form></form>

<script type="module">
    import * as d3 from "https://cdn.skypack.dev/d3@7";
    import { dim } from "./js/common-1.1.js";
    import { load } from "./js/data-1.2.js";
    import { init } from "./js/page-1.1.js";

    // FOR EXERCISE 1: make changes in config.js and page.js modules.

    const svg = d3.select("#moons")
                  .attr("viewBox", `0 0 ${dim.width} ${dim.height}`);
    const plane = svg.append("g")
                     .attr("transform", `translate(${[dim.margin.planet, dim.height/2]})`);
    plane.append("circle")
         .attr("class", "planet");

    await load();
    init(plane);

</script>


</body>
</html>
