path {
    fill: none;
}

.graticule {
    stroke: green;
    stroke-width: 0.25;
    stroke-opacity: .5;
}

.graticule.major {
    stroke-width: 2;
    stroke: darkslategrey;
}

.outline {
    stroke: navy;
    stroke-width: 1;
}

.background {
    fill: lightblue;
    fill-opacity: 1;
}

.feature, .feature path {
    stroke: white;
    fill: gray;
    stroke-width: 0.5;
    fill-opacity: 1;
}

/* remove pointer events from tooltips */
text, .tooltip rect, .graticule, .circle, .hemisphere {
    pointer-events: none;
}

.merged {
    fill: darkolivegreen;
    stroke: darkslategray;
    stroke-width: 4;
}

.mesh {
    fill: none;
    stroke: navajowhite;
    stroke-width: 0.5;
}