.graticule {
    stroke: white;
    fill: none;
    stroke-width: 0.25;
}

.outline {
    stroke: black;
    fill: none;
    stroke-width: 2;
}

.background {
    stroke: black;
    fill: blue;
    fill-opacity: .5;
    stroke-width: 2
}

.country {
    stroke: white;
    fill: #333;
    stroke-width: 0.5;
    fill-opacity: 0.6;
}