body {
    width: 960px;
    margin: auto;
}

h1, h2 {
    font-family: Arial, sans-serif;
    text-align: center;
    color: #333;
}

p, div, li {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
}

body {
    width: 960px;
    margin: auto;
}

h1, h2 {
    font-family: Arial, sans-serif;
    text-align: center;
    color: #333;
}

p, div, li {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
}

.path {
    fill: none;
    stroke: black;
}
.background {
    fill: lightseagreen;
    stroke: none;
}
.feature {
    fill: lightgreen;
    stroke: green;
}
.graticules {
    fill: none;
    stroke: cyan;
    stroke-width: 0.5px;
}
.city circle, .city path {
    fill: red;
    stroke: black;
}
.city text {
    font: bold 12px sans-serif;
    fill: darkblue;
    text-anchor: middle;
}
