svg {
    border: 1px solid black;
}
.path {
    fill: none;
    stroke: black;
}
.background {
    fill: lightseagreen;
    stroke: none;
}
.feature {
    fill: lightgreen;
    stroke: green;
}
.graticule {
    fill: none;
    stroke: cyan;
    stroke-width: 0.5px;
}
.city circle, .city path {
    fill: red;
    stroke: black;
}
.city text {
    font: bold 12px sans-serif;
    fill: darkblue;
    text-anchor: middle;
}