text {
    font-family: 'Arial Narrow', sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-anchor: middle;
    alignment-baseline: central;
    fill: white;
    pointer-events: none;
}

path.ribbon {
    opacity: .7;
}