<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exercise 7.3 - Generating data for a path</title>
</head>
<body>
<script type="module">
    import * as d3 from 'https://cdn.skypack.dev/d3@7.9.0';

    const points = [[250,0],[216.5,124.5],[125,216.5],[0,250],[-125,216.5],[-217,124.5],[-250,0],[-217,-125.5],[-125.5,-217],[-0.5,-250],[125,-217],[216.5,-125.5]];

    const svg = d3.select("body")
        .append("svg")
        .attr("width", 800)
        .attr("height", 800)
        .style("border", "solid 1px black");

    const plane = svg.append("g").attr("transform", "translate(400,400)");

    plane.selectAll("circle")
            .data(points)
                .join("circle")
                .attr("cx", d => d[0])
                .attr("cy", d => d[1])
                .attr("r", 3)
                .attr("fill", "red");

    // EXERCISE 3:
    // a) Generate pairs of adjacent points to draw lines between them.
    // Each pair should be an array of two points, where the second point is copied
    // from the first point of the next pair. The last pair should connect the last
    // point to the first point.
    // e.g. [ [[250,0],[216.5,124,5]], [[216.5,124.5],[125,216.5]],  ]
    // Hint: use d3.pairs() function.
    // ADD YOUR CODE HERE

    // b) Add the last pair to connect the last point to the first point
    // ADD YOUR CODE HERE

    // c) Now use the pairs to draw lines between the points (Create a data join
    // between a selection of <line> elements and the pairs array, and use the
    // data for the x1, x2, y1 abd y2 properties of each <line>).
    // ADD YOUR CODE HERE

    // For console access
    window.d3 = d3;
    window.data = points;

</script>

</body>
</html>